%table.table-hover.table
  %thead
    %tr
      %th
        Timestamp Time
      %th
        Employee Name
      %th
        Employee ID
      %th
        Project ID
      %th
        Client ID
      %th
        Timestamp Started
      %th
        Timestamp Ended
      %th
        Duration
  %tbody
    - @timestamps.each do |t| 
      %tr
        %td
          = t.created_at
        %td
          = Employee.find(t.employee_id).name
        %td
          = t.employee_id
        %td
          = t.project_id
        %td
          = t.client_id
        %td
          = t.start_time
        %td
          = t.end_time
        %td
          - if t.closed?
            = t.duration[:hours] 
            Hours
            = t.duration[:minutes]
            Minutes
            = t.duration[:seconds]
            Seconds
       
  
