%table.table-hover.table
  %thead
    %tr
      %th
        Employee ID
      %th
        Employee Name
      %th
        Employee Email
      %th
        Admin
  %tbody
    - @employees.each do |e| 
      %tr
        %td
          = e.id
        %td
          = e.name
        %td
          = e.email
        %td
          = e.admin
        %td 
          - if current_user.admin? && !current_user?(e) 
            = link_to "delete", e, method: :delete,
                data: {confirm: "You sure?" }
       
  
